.card-wrapper {
  box-shadow: 1px 1px 10px lightgray;
  padding: 20px;
  border-radius: 15px;
  min-height: 300px;
  min-width: 200px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaT3lWtlsI0hsn1Abtd6Aq7t7HE9haPH_7770qA1vq0NfsgpqCKrzQ-6G69j3Q8m40YKk&usqp=CAU);
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.zakat {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaT3lWtlsI0hsn1Abtd6Aq7t7HE9haPH_7770qA1vq0NfsgpqCKrzQ-6G69j3Q8m40YKk&usqp=CAU);
}
.age {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoCt0ApPaFs2ebzBn-npx3VGwJhG3DtQOcTRJLZMgiXQ&s);
}
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
b {
  font-size: 13px;
  font-weight: 200;
}

.age-b {
  margin-top: 10px;
}

input {
  padding: 5px 10px;
}

button {
  padding: 5px 10px;
  background: green;
  color: white;
  border-color: green;
  box-sizing: border-box;
  outline: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
